* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  background-image: linear-gradient(to right, #f6eade 70%, #f86666 20%);
}

.head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bars {
  /* display: none; */
}
.icon1 {
  font-size: 50px;
  color: #a35216;
  margin-left: 50px;
}
nav {
  
  padding-top: 10px;
  
}
header button {
  margin-right: 10%;
  padding-inline: 2%;
  background-color: black;
  color: white;

  border-radius: 10px;
}
a:link {
  padding-inline: 20px;
  text-decoration: none;
  color: black;
}
.first-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.article-son {
  padding-top: 80px;
}
.article-son h1 {
  font-size: 80px;
  margin-left: 40px;
}
.article-son p {
  padding-top: 20px;
  margin-left: 40px;
}
.article-son div {
  display: inline-block;
  padding-top: 20px;
  margin-left: 40px;
}
.btn button {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 30px;
  background-color: rgba(0, 128, 0, 0.521);
  color: white;
}
.icon2 {
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  color: orangered;
}
.play {
  margin-left: 30px;
}
.img1 img {
  border-radius: 50%;
  margin-right: 220px;
  margin-top: 50px;
  width: 400px;
}
.article2 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 300px;
  background-color: white;
  height: 400px;
}
.article2 h2 {
  padding-top: 40px;
  font-size: 50px;
}
.article2 p {
  padding-top: 20px;
}
.article2 button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.521);
  color: white;
}
.img2 img {
  margin-left: 90px;
  margin-top: 50px;
  margin-bottom: 30px;

  width: 300px;
}
.food-menu {
  background-color: #f86666;
}
.food-menu-son {
  text-align: center;
  padding-top: 100px;
}
.food-menu h4 {
  font-size: 30px;
}
.food-menu button {
  margin-top: 20px;
  padding-inline: 15px;
  padding-block: 6px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  opacity: 0.8;

  margin-inline: 10px;
}

.img3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 90px;
  margin-top: 30px;
}
.plate1 {
  width: 20%;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.425);
  padding-block: 10px;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0.8;
}
.plate1 img {
  margin-left: 20%;
  margin-top: 5px;
}

.plate2 {
  width: 20%;
  height: 300px;
  background-color: white;
  padding-block: 10px;
  border: 1px solid white;
}
.plate2 img {
  margin-left: 15%;
  margin-top: 5px;
}

.plate3 {
  width: 20%;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.425);
  padding-block: 10px;
  border: 1px solid white;
  border-radius: 50%;
  opacity: 0.8;
}
.plate3 img {
  margin-left: 20%;
  margin-top: 5px;
}
.cheese {
  margin-left: 30%;
  margin-top: 10%;
  color: white;
}

.grilled {
  margin-left: 30%;
  margin-top: 10%;
  color: black;
}

.hamburger {
  margin-left: 30%;
  margin-top: 10%;
  color: white;
}

.article3 {
  display: flex;
  flex-wrap: wrap;

  padding-top: 10%;
  column-gap: 15%;
  margin-left: 15%;
  background-color: #f6eade;
}
.double-plate img {
  width: 300px;
}
.article3 h2 {
  font-size: xx-large;
}
.article3 p {
  padding-top: 20px;
}
.article3 button {
  margin-top: 20px;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.521);
  color: white;
  border: none;
}
.popular {
  padding-top: 10%;
  background-color: #f6eade;
}
.popular h2 {
  text-align: center;
}

.popular-img {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  justify-content: center;
  column-gap: 20px;
}
.popular .btn {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popular .btn button {
  border: none;
  padding-inline: 20px;
}
.contact {
  background-color: #f6eade;
  padding-top: 8%;
  padding-right: 10%;
}
.contact-son {
  position: relative;
  top: 90px;

  margin-left: 30%;
  background-color: white;

  padding-left: 150px;
  padding-block: 5%;

  width: 50%;
  height: 200px;
  border-radius: 35%;
}
.contact button {
  border: none;
  padding-inline: 20px;
  background-color: rgba(0, 128, 0, 0.521);
  padding-block: 3px;
}
.contact p {
  padding-top: 10px;
}

.contact span {
  display: inline-block;
  padding-top: 10px;
}
footer {
  background-color: black;
}
.footer1 {
  display: flex;
  flex-wrap: wrap;

  color: white;
  justify-content: space-evenly;
  height: 500px;
  padding-top: 10%;
}
footer p {
  padding-top: 40px;
}
ul li {
  padding-block: 20px;
  list-style: none;
}
.copy {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  border-top: 1px solid white;
  padding-top: 10px;
}

@media (max-width: 600px) {

  .icon1 {
    margin-left: 10px;
  }
  nav{
  text-align: center;
  display: flex;
  flex-direction: column;
  
  }
  .food-menu{
   padding-top: 110%;

  }
  .img3{
    display: flex;
    flex-direction: column;
    padding: 30%;
 
  }
  .plate1{
    width: 100%;
  }
  .plate1 img{
    width: 100px;
   height: 100px;
  }
  .plate2 img{
   width: 100px;
   height: 100px;

  }
  .plate2{
   
    width: 100%;
  }
  .plate3{
    width: 100%;
  }
  .plate3 img{
    width: 100px;
   height: 100px;
  }
}
